<div class="fade-in">
    <c-card>
      <c-card-header>
        Users
      </c-card-header>
      <c-card-body>
        <c-row class="text-center">
          
            <table cTable>
                <thead>
                <tr>
                  <th scope="col">Nombre Completo</th>
                  <th scope="col">Identificación</th>
                  <th scope="col">Email</th>
                  <th scope="col">Telefono</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of users">
                  <th scope="row">{{ user.firstName }} {{ user.lastName }}</th>
                  <td>{{ user.identity }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phone }}</td>
                  <td><a [routerLink]="['/users/', user.id]">ver más</a></td>
                </tr>
                </tbody>
              </table>


        </c-row>
      </c-card-body>
    </c-card>
  </div>